.container {
  padding: 2rem;
}

.body {
  background: #15232d;
  color: rgb(255, 255, 255);
  font-family: Montserrat, Arial, sans-serif;
}

.chartContainer {
  padding: 2rem;
  border-radius: 25px;
  background: #73ad21;
  width: '50%';
  height: '50%';
}
