.container {
  padding: 2rem;
}

.bodyCH {
  background: #15232d;
  color: rgb(255, 255, 255);
  font-family: Montserrat, Arial, sans-serif;
  width: 100wv;
  height: 100vh;
}

.chartContainer {
  padding: 2rem;
  border-radius: 25px;
  /* background: #73ad21; */
  width: 200px;
  height: 200px;
  color: white;
}
