@import './Variables.scss';

.threeParts {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  min-height: 100vh;
  // background-color: $dark-bg;
  background-color: #0b1337;
  overflow: hidden;
}

.metricsContainer {
  display: flex;
  margin-top: 5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // color: $neon-red;
  color: white;
}

// SELECT DROPDOWN THING
.selectMe {
  color: black;
  padding: 0.5em 2em;
  border-radius: 30px;
  background-color: $neon-blue;
  border: 1px solid whitesmoke;

  option {
    color: black;
    padding: 80px;
    font-size: 1rem;
  }
}

#endpointBtn {
  font-family: $primary-font;
  padding: 0.7em 1em;
  border: 2px solid $neon-pink;
  border-radius: $round-dem-edges;
  font-weight: 700;
  background-color: $neon-pink;
  color: $dark-bg;
  white-space: nowrap;
  margin-top: 1rem;
  cursor: pointer;
}

#endpointBtn:hover {
  color: $neon-pink;
  background-color: $dark-bg;
}

.containerLeft {
  padding: 0em 2em;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  // color: $neon-red;
  color: white;
  border-right: 1px solid #89cff0;
  font-size: 1.2rem;

  input {
    text-align: center;
    color: white;
  }
}

.containerMid {
  color: white;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-right: 1px solid #89cff0;
}

.containerRight {
  color: white;
  display: flex;
  height: 100%;
  padding: 0em 2em;
  justify-content: center;
  // background-color: rgb(27, 3, 111);
}

// #scoreContainer {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100%;
//   width: 100%;
// }

.containerGauge {
  display: flex;
  height: 90%;
  width: 95%;
  justify-content: center;
  align-items: center;
  // background: #111c44;
}

.dropdownMenu {
  display: flex;
  flex-direction: column;
}

// parts

.enterUrl {
  margin: 10% 0 10% 0;
  font-family: $primary-font;
  color: $neon-pink;
}

.endpointInput {
  color: $primary-black;
  font-family: $primary-font;
  height: 2.5rem;
  min-width: 15vw;
  width: 65%;
  border: 0;
  font-weight: 500;
  outline: 0;
  background: transparent;
  transition: border-color 0.2s;
  border-bottom: 2px solid $primary-black;
}

.endpointInput:focus {
  border-bottom: 2px solid $neon-pink;
  font-weight: 700;
}

.dropdownMenu {
  display: flex;
  justify-content: center;
}

.controlPanel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
  border-bottom: 1px solid #89cff0;
}

.lineChart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.chartMaybe {
  height: 100vh;
  width: 100%;
}

.detailsList {
  display: flex;
  justify-content: center;
  align-items: center;
}
