@import './Variables.scss';

#docsPage {
  display: flex;
  height: 100vh;
  align-items: center;
}

.docsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 6% 30% 0% 30%;
}

.sectionTitle {
  font-family: $primary-font;
  font-size: large;
  font-weight: 700;
}

.sectionText {
  font-family: $primary-font;
  font-size: large;
}