@import './Variables.scss';

.ul {
  display: flex;
  font-family: $primary-font;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em 1em;
  overflow-y: auto;
  min-height: 90%;
  max-height: 100%;
}

.li {
  text-align: center;
  padding: 0.8em;
  font-size: 1.2rem;
  list-style: none;
}

.li button {
  text-align: center;
  padding: 0.8em;
  font-size: 1.2rem;
  list-style: none;
}

.li button:hover {
  padding: 0.8em;
  background: $neon-pink;
  // color: $neon-blue;
  border-radius: $round-dem-edges;
}

.EndpointsList {
  margin-top: 2em;
  padding: 1rem;
  width: 100%;
}

.endpointsTitle {
  font-family: $primary-font;
  font-size: 2rem;
  font-weight: 900;
  border-bottom: 1px solid $lavender;
  color: $neon-blue;
}

.endpointContainer {
  border: 1px solid $lavender;
  border-radius: 8px;
  width: 100%;
  overflow: hidden;
}