@import './Variables.scss';

.home {
  background-color: $lavender;
  width: 100%;
  height: 100%;
  padding: 10% 9% 1% 9%;
  overflow-x: hidden;
}

.metricsContainer {
  display: flex;
  margin-top: 5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#endpointBtn {
  font-family: $primary-font;
  padding: 0.7em 1em;
  border: 2px solid $blue-stone;
  border-radius: $round-dem-edges;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0);
  color: $blue-stone;
  white-space: nowrap;
  margin-top: 1rem;
  cursor: pointer;
}

#endpointBtn:hover {
  color: $lavender;
  background-color: $blue-stone;
  box-shadow: 0px 0px 10px 1px $primary-blue;
  transition: 0.3s ease-in-out;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 50vh;
}

.introContainer {
  display: flex;
  flex-direction: column;
  background-color: $blue-stone;
  width: 100%;
  height: auto;
  color: $lavender;
  font-family: $primary-font;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.leftTitle {
  color: #121212;
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  margin: 0;
}

.panopticWord {
  color: $blue-stone;
}

.subText {
  color: $secondary-blue;
}

.right {
  background: url('../assets/demoPic.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  border-radius: $round-dem-edges;
}

.heroBtnContainer {
  margin-top: 20px;
  display: flex;
}

.readDocs {
  font-family: $primary-font;
  padding: 1em 1.5rem;
  border: 2px solid $blue-stone;
  border-radius: $round-dem-edges;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0);
  color: $blue-stone;
  margin-right: 1vw;
  font-size: 1rem;
  cursor: pointer;
}

.readDocs:hover {
  color: $lavender;
  background-color: $blue-stone;
  box-shadow: 0px 0px 10px 1px $primary-blue;
  transition: 0.3s ease-in-out;
}

.install {
  margin-left: 10px;
  font-family: $primary-font;
  padding: 1em 1.5rem;
  border: 2px solid $blue-stone;
  border-radius: $round-dem-edges;
  font-weight: 700;
  background-color: $blue-stone;
  color: $lavender;
  font-size: 1rem;
  cursor: pointer;
}

.install:hover {
  background-color: rgba(0, 0, 0, 0);
  color: $blue-stone;
  box-shadow: 0px 0px 10px 1px $primary-blue;
  transition: 0.3s ease-in-out;
}

.homeGifs {
  height: 45rem;
  width: auto;
  border-radius: 8px;
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);

}

.featText {
  justify-self: flex-start;
  align-self: center;
  text-align: center;
  margin-right: 45px;
  font-weight: 900;
}

.lowcontainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 8%;
}

.mdeak {
  font-size: 4rem;
  text-align: center;
  color: $blue-stone;
  font-weight: 700;
}

.staffcontainer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  text-align: center;
  flex-direction: row;
  color: $dark-blue;
  font-size: large;
  font-weight: bold;
  padding: 1rem;
}

#marcpic {
  margin: auto;
  background: url('https://media-exp1.licdn.com/dms/image/C5603AQGomH8kwmHfxQ/profile-displayphoto-shrink_400_400/0/1630615973512?e=1662595200&v=beta&t=IlIzzFPLa7EmXXKFBaPhi5TNPv0GrjvhLd_GGAo8XV4');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 7rem;
  height: 7rem;
  border-radius: 100%;
}

#davispic {
  margin: auto;
  background: url('https://avatars.githubusercontent.com/u/95515224?v=4');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 7rem;
  height: 7rem;
  border-radius: 100%;
}

#elliotpic {
  margin: auto;
  background: url('https://avatars.githubusercontent.com/u/100388743?v=4');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 7rem;
  height: 7rem;
  border-radius: 100%;
}

#austinpic {
  margin: auto;
  background: url('https://avatars.githubusercontent.com/u/103286713?v=4');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 7rem;
  height: 7rem;
  border-radius: 100%;
}

#karlpic {
  margin: auto;
  background: url('https://avatars.githubusercontent.com/u/12672823?v=4');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 7rem;
  height: 7rem;
  border-radius: 100%;
}

.linkContainer {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.githubIcon {
  margin-right: 10px;
  color: black;
}

.linkedinIcon {
  color: #0a66c2;
}

.Ad {
  margin-top: 80px;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
  color: black;
}



@media screen and (max-width: 800px) {

  // Turn Hero Into Flexbox for mobile
  .hero {
    padding-top: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .left {
      align-items: center;
    }

    .right {
      margin-top: 10%;
      width: 100%;
      height: 100%;
      background-size: contain;
      background-position: top;
      background-repeat: no-repeat;
    }
  }

  // Meet Team
  .lowcontainer {
    margin-top: -50px;
  }

  .staffcontainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(150px, 100%), 1fr));
    gap: 50px;
  }

  .mdeak {
    margin-top: 60px;
  }
}

// APP

.body {
  display: flex;
  height: 100vh;
  width: 100vw;
}

// containers

.threeParts {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  justify-content: space-evenly;
  padding: 2rem;
  margin-top: 4em;
}