@import './Variables.scss';

.body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: $lavender;
  // background-image: linear-gradient(315deg, $blue-stone 0%, $lavender 74%);
}

.username,
.password {
  margin: 0.6rem;
  padding: 0.6em 0.5em;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 2px solid $primary-blue;
  width: 100%;
}

.username:focus,
.password:focus {
  outline: none;
}

.username::placeholder,
.password::placeholder {
  font-size: 1.2rem;
}

.construction {
  margin-top: 2vh;
  font-weight: bold;
}

.background {
  background-color: black;
}

.loginForm {
  min-width: 20rem;
  width: 25%;
  height: 100%;
  padding: 2% 3%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.oauthBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.8rem;
  padding: 0.8em 1em;
  border: 3px solid whitesmoke;
  border-radius: 10px;
  color: $lavender;
  width: 100%;
  background: $primary-black;
}
.oauthBtn:hover {
  box-shadow: 0px 5px 5px 1px $dark-blue;
  transition: 0.4s ease;
}

.loginButton {
  font-family: $primary-font;
  padding: 0.5em 1em;
  border: 3px solid $blue-stone;
  border-radius: 10px;
  font-size: large;
  width: 100%;
  margin-top: 20px;
  background-color: transparent;
  color: $blue-stone;
  white-space: nowrap;
}

.loginButton:hover {
  color: $lavender;
  background-color: $blue-stone;
  box-shadow: 0px 0px 10px 2px $primary-blue;
  transition: 0.3s ease-in;
}

.githubLogin {
  margin-right: 5px;
  font-size: 1.4rem;
}