@import './Variables.scss';

.manager {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(45deg,
      $dark-blue 0%,
      $primary-blue 20%,
      $primary-blue 45%,
      $secondary-blue 70%,
      $dark-blue 100%);
}