@import './Variables.scss';

.Sidenav {
  z-index: 999;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 10px;
  // height: 100vh;
  // width: 180px;
  // background-image: linear-gradient(180deg, $grad1 0%, $grad2 74%);
  // border-right: 1px solid white;
}

.drawerContent {
  background: linear-gradient(180deg,
      $primary-blue 0%,
      $primary-blue 20%,
      $primary-blue 45%,
      $secondary-blue 70%,
      $dark-blue 100%) !important;
}

.drawerBody {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;

  p {
    padding: 1em 0;
  }
}

.burgerIcon {
  background-color: $blue-stone !important;
  font-size: 1.4rem !important;
}

.imageContainer {
  width: 70%;
}

.logoPic {
  width: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  cursor: pointer;
}



.listLink {
  width: 100%;
  text-align: center;
}

.linksContainer {
  font-size: 1.2rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10em 1em;
  align-items: center;
  list-style: none;
  width: 100%;
  height: 100%;
}