$primary-font: 'Montserrat', sans-serif;
$round-dem-edges: 10px;
$primary-green: HSL(114, 96.1%, 59.6%);
$primary-black: hsl(225, 6%, 13%);
$blue-stone: #266ef6;
$dark-blue: #3a5985;
$primary-blue: #608fca;
$secondary-blue: #89afe0;
$light-blue: #b2caee;
$gray: #d5deef;
$lavender: #f0f4fb;

// $dark-bg: rgb(32, 30, 48);
$dark-bg: #0b1337;

$neon-orange: rgb(255, 125, 125);
$neon-pink: rgb(213, 77, 224);
$neon-blue: rgb(4, 221, 205);
$neon-red: rgb(250, 83, 128);

$grad1: rgb(221, 77, 204);
$grad2: rgb(186, 84, 245);